*::before, *::after, * {
    box-sizing: border-box;
}

.main {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        font-size: 80px;
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    .head {
        width: 100%;
        display: flex;
        justify-content: space-between;
    
        .score {
            margin: 0 10px;
        }
    }
    .center {
        position: absolute;
        left: 0;
        top: -40px;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 100vh;

        margin: auto;
        padding-top: -20px;
        color: #ffb273 !important;
        flex-direction: column;

        .die {
            color: #ff6161 !important;
            font-size: 120px !important;
        }

        svg {
            font-size: 120px !important;
            &:hover {
                color: #ff6161 !important;
                cursor: pointer;
            }
        }

        p {
            margin: 10px;
        }
        
    }
}


.loading {
    background-color: #CDEDF9;
    z-index: 999;
    position: absolute;
    left: -50vw;
    top: -50vh;
    padding: 20px;
    
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: content;
    align-items: center;

    .progress {
        background-color: white;
        width: 300px;
        height: 30px;
        margin: auto;

        & > div {
            background-color: #B1D7A9;
            height: 100%;
        }
    }
}